<!doctype html>
<html >
    <style>
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
<head>
  <script src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
  <script >
    var app = angular.module("myApp",[]);

    app.controller('customersCtrl', function($scope, $http) {
    $http.get("./data.json")
    .then(function (result) {
        $scope.names = result.data.records;
    });
});
  </script>

 <body ng-app="myApp">
            <div ng-controller="customersCtrl">
                    <table>
                            <tr ng-repeat="x in names | orderBy : 'Country'">
                              <td>{{ x.Name }}</td>
                              <td>{{ x.Country }}</td>
                            </tr>
                    </table>
                        <h1>........table2........</h1>
                    <table>
                            <tr ng-repeat="x in names">
                              <td>{{ x.Name }}</td>
                              <td>{{ x.Country | uppercase }}</td>
                            </tr>
                    </table>

                    <h1>$even XX $odd</h1>

                    <table>
                        <tr ng-repeat="x in names">
                            <td style="{{$even?'background-color: #f1f1f1':''}}">{{$index + 1}}</td>
                            <td style="{{$even?'background-color: #f1f1f1':''}}">{{ x.Name }}</td>
                            <td style="{{$even?'background-color: #f1f1f1':''}}">{{ x.Country}}</td>
                        </tr>
                    </table>
            </div>
</body>
</html>